*
!.gitignore
!hypr/
!hypr/*
!hypr/**/
!kitty/
!kitty/*
!kitty/**/
!mako/
!mako/*
!mako/**/
!waybar/
!waybar/*
!waybar/**/
!wofi/
!wofi/*
!wofi/**/
!README.md # Make sure README.md is explicitly un-ignored!